/* your styles go here */
section {
    overflow: hidden;
}

#about {
    padding: 100px 0;
}

#cv {
    padding: 0;
    margin: -30px 0;
}

#portfolio {
    margin: -60px 0 0 0;
    padding: 60px 0;
}

#text {
    padding: 120px 0;
}

#portfolio #transfo,
#portfolio #lowtropy,
#portfolio #backaround,
#portfolio #ledschat,
#portfolio #illustrations {
    background: rgb(245, 245, 245, 1);
    transition: all 0.2s;
}

#portfolio #transfo:hover {
    background: #FF6E28;
    transition: all 0.2s;
}

#portfolio #lowtropy:hover {
    background: #29FD2F;
    transition: all 0.2s;
}

#portfolio #backaround:hover {
    background: #1C9BF6;
    transition: all 0.2s;
}

#portfolio #ledschat:hover {
    background-image: url(../img/leds-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(245, 245, 245, 0);
    transition: all 0.5s ease;
}

#portfolio #illustrations:hover {
    background-image: url(../img/bat-illustration.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(245, 245, 245, 0);
    transition: all 0.7s ease;
}

header nav+p {
    display: none;
}

header nav.sticky+p {
    display: block;
    line-height: 57px;
    margin: 0;
}

header nav img {
    display: none;
    transition: ease;
}

header nav.sticky img {
    display: block;
    transition: ease;
}

.formations-title,
.project-title,
.competence-title,
.formations-subtitle,
.project-subtitle,
.competence-subtitle {
    font-size: 19px;
    text-decoration: none;
}

.about p {
    padding-right: 50px;
}

.intro.name h1 {
    font-size: 25px;
    color: black;
    text-shadow: none;
}

#portfolio .row {
    border-bottom: solid 0.1px black;
}

#portfolio .row.top {
    border-top: solid 0.1px black;
}

.intro h1 {
    text-align: center;
}

.project-title {
    margin-top: 1rem;
    margin-bottom: 0;
}

.formations-subtitle,
.project-subtitle,
.competence-subtitle {
    font-family: "Courier New", Courier, "Liberation Mono", monospace;
    letter-spacing: 0.07em;
}

.formations-subtitle span {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;

}

.formations-subtitle a {
    color: #ffff;
}

.formations-subtitle.centrale a:hover {
    background: -webkit-linear-gradient(45deg, #0092B3, #40607F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formations-subtitle.centrale a:hover span {
    background: -webkit-linear-gradient(45deg, #40607F, #714A73, #8F3A6C, #B12564);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formations-subtitle.esdamm a:hover {
    color: #0001BE;
}

.formations-subtitle.esdamm a:hover span {
    background: -webkit-linear-gradient(45deg, #0001BE, #0AED2B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formations-subtitle.lacordaire a:hover {
    color: #3E0600;
}

.formations-subtitle.lacordaire a:hover span {
    background: -webkit-linear-gradient(45deg, #3E0600, #E06149, #E06149, #ECA555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formations-subtitle.latransfo a:hover {
    background: -webkit-linear-gradient(45deg, #FF7001, #FF7001, #612682, #440092, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .formations-subtitle.latransfo a:hover span {
    background: -webkit-linear-gradient(45deg, #FF7001, #612682, #440092, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.formations-subtitle.ledschat a:hover {
    background: -webkit-linear-gradient(45deg, #118ab2 0%, #06d6a0 37%, #ffd166 50%, #ffec99 67%, #ff9999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-end {
    text-align: end;
}

.profil-pic {
    min-width: 400px;
}

.site,
.github {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.cv,
.cv-bis {
    margin-top: 50px;
    margin-bottom: -30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 76px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-decoration: none;
}

.cv a,
.cv-bis a,
.site a,
.github a {
    text-decoration: none;
}

.cv a:hover,
.cv-bis a:hover,
.site a:hover,
.github a:hover {
    font-weight: 600;
}

/* .cv:hover {
    padding-bottom: 52px;
} */

.cv a,
.cv-bis a {
    background: -webkit-linear-gradient(45deg, #118ab2, #06d6a0, #ffd166, #ffec99, #ff9999, #ce4949, #612682, #118ab2, #06d6a0, #ffd166, #ffec99, #ff9999, #ce4949, #612682);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .cv:hover .marquee-hover {
    display: none;
} */

.cv .marquee {
    width: 50%;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    animation: marquee 30s linear infinite;
}

.cv-bis .marquee {
    width: 50%;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    animation: marqueeBis 30s linear infinite;
}

.marquee a {
    animation: swap 15s linear infinite;
}

@keyframes swap {

    0%,
    50% {
        right: 0%;
    }

    50.01%,
    100% {
        left: 0%;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes marqueeBis {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0%)
    }
}

/* .cv .marquee {
    visibility: hidden;
}

.cv:hover .marquee {
    visibility: initial;
} */
/* .box {
    border: solid 10px #6c757d;
} */

.box div {
    padding: 10px;
}

.portfolio {
    padding: 0;
    margin: -5px;
}

.lowtropy .site a,
.lowtropy .github a {
    color: #29FD2F;
}

.backaround .site a {
    color: #219FFA;
}

.landing .site a {
    color: #219FFA;
}

.lowtropy .site a:hover,
.lowtropy .github a:hover {
    background: -webkit-linear-gradient(45deg, #29FD2F, #E1FD34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.backaround .site a:hover,
.backaround .github a:hover {
    background: -webkit-linear-gradient(45deg, #0E2457, #219FFA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing .site a:hover,
.landing .github a:hover {
    background: -webkit-linear-gradient(45deg, #118ab2 0%, #06d6a0 37%, #ffd166 50%, #ffec99 67%, #ff9999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio-text {
    margin: 5rem auto;
}

.project-link {
    color: black;
}

.project-link:hover {
    text-decoration: none;
    color: black;
}

.project-link:focus {
    text-decoration: none;
}

.project-link .badge {
    transition: all 0.7s;
}

.project-link:hover .badge-secondary {
    background-color: black;
}

.project-link:hover .badge-html {
    background-color: #E54D26;
}

.project-link:hover .badge-css {
    background-color: #3D8FC6;
}

.project-link:hover .badge-php {
    background-color: #6180B6;
}

.project-link:hover .badge-bootstrap {
    background-color: #59407F;
}

.project-link:hover .badge-wordpress {
    background-color: #003C56;
}

.project-link:hover .badge-js {
    background-color: #F0DB4E;
}

.project-link:hover .badge-angular {
    background-color: #C4473A;
}

.project-link:hover .badge-elementor {
    background: linear-gradient(0.25turn, #312670, #e6285b);
}

.project-link:hover .badge-pantheon {
    background-color: #EFD01B;
}

.project-link:hover .badge-p5 {
    background-color: #ED225C;
}

.project-link:hover .badge-node {
    background-color: #689F63;
}

.project-link:hover .badge-figma {
    background: linear-gradient(0.25turn, #EC4C1E, #F86E5E, #9E56F8, #1AB7F6, #0AC87F);
}

.badge-div {
    min-height: 48px;
}

.badge {
    padding: 0.25em 1em;
}

.project-text {
    margin: 1rem auto;
}

.services .icon {
    margin-bottom: 0;
}

.icon img {
    max-height: 45px;
    margin-bottom: 16px;
}

.singature {
    max-height: 50px;
}

.wip {
    font-size: 200px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 40px;
}

.wip-subtitle {
    text-align: center;
    font-size: 24px;
    margin-top: -50px;
    font-weight: 600;
}

.mt-15 {
    margin-top: 15px;
}

.mt-100 {
    padding-top: 200px;
}

.mb-35 {
    margin-bottom: 35px;
}

.pb-100 {
    padding-bottom: 200px;
}

.social-link:hover {
    text-decoration: none;
    font-weight: 700;
}

.gif {
    width: 100%;
}

/* .lowtropy,
.backaround,
.landing {
    font-family: sans-serif;
} */

.lowtropy-bg,
.backaround-bg {
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: -300px 800px;
}

.ledschat .overlay {
    background: whitesmoke;
    opacity: 0.8;
}

.lowtropy-colors-img {
    width: 90%;
}

.backaround-colors-img {
    width: 95%;
}

.lowtropy-police-img {
    width: 110%;
    margin-left: -100px;
}

.backaround-police-img {
    width: 85%;
}

.landing .mcbook-bg,
.lowtropy .mcbook-bg {
    background-repeat: no-repeat;
    background-size: 524px, 700px;
}

.lowtropy .mcbook-bg {
    background-position: 120px 45px, center;
}

.landing .mcbook-bg {
    background-position: 120px 30px, center;
}

.mockup-bg-1,
.mockup-bg-2,
.mockup-bg-3 {
    background-repeat: no-repeat;
    background-size: 430px;

}

.mockup-bg-1 {
    background-position: -50px 50%;
}

.mockup-bg-2 {
    background-position: center;
    height: 100%;
}

.mockup-bg-3 {
    background-position: 122% 50%;
    height: 100%;
}

footer a:hover {
    text-decoration: none;
    font-weight: 700;
}

.illustrations nav.navbar a.nav-link {
    color: black;
}

.illustrations nav.navbar {
    background: whitesmoke;
}

.illustrations .instagram a:hover {
    background: -webkit-linear-gradient(45deg, #4C66CC, #6E3AAF, #A133AE, #D02F7A, #F36531, #F7CD71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ledschat #html a:hover {
    background: -webkit-linear-gradient(45deg, #4C66CC, #6E3AAF, #A133AE, #D02F7A, #F36531, #F7CD71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.transfo .intro {
    background-size: 450px;
    background-color: whitesmoke;
}

.transfo .overlay {
    background: whitesmoke;
}

.transfo footer {
    border-top: solid 1px whitesmoke;
}

.transfo footer a:hover {
    color: #FF6E29;
}

.ledschat nav.navbar a.nav-link,
.back-landing nav.navbar a.nav-link,
.backaround nav.navbar a.nav-link,
.lowtropy nav.navbar a.nav-link,
.illustrations nav.navbar a.nav-link,
.transfo nav.navbar a.nav-link {
    text-align: center;
}

.ledschat nav.navbar a.nav-link,
.back-landing nav.navbar a.nav-link,
.backaround nav.navbar a.nav-link,
.lowtropy nav.navbar a.nav-link,
.transfo nav.navbar a.nav-link {
    color: black;
}

.ledschat nav.navbar a.nav-link:hover,
.back-landing nav.navbar a.nav-link:hover,
.back-landing nav.navbar a.nav-link.active,
.backaround nav.navbar a.nav-link:hover,
.backaround nav.navbar a.nav-link.active,
.lowtropy nav.navbar a.nav-link:hover,
.lowtropy nav.navbar a.nav-link.active,
.illustrations nav.navbar a.nav-link:hover,
.illustrations nav.navbar a.nav-link.active,
.transfo nav.navbar a.nav-link:hover,
.transfo nav.navbar a.nav-link.active {
    font-weight: bold;
}

.illustrations nav.navbar a.nav-link.active:after {
    background: black;
}

.transfo nav.navbar a.nav-link.active:after {
    background: #FF6E29;
}

.lowtropy nav.navbar a.nav-link.active:after {
    background: greenyellow;
}

.ledschat nav.navbar a.nav-link.active:after {
    background: #B12564;
}

.back-landing nav.navbar a.nav-link.active:after,
.backaround nav.navbar a.nav-link.active:after {
    background: #219FFA;
}

.transfo nav.navbar,
.transfo nav.navbar.sticky {
    background: white;
}

#html p {
    font-size: 24px;
}

.experiences ul {
    list-style: none;
}

p.social a.linkedin:hover {
    background-color: #006699;
}

p.social a.github:hover {
    background-color: #24282E;
}

p.social a.email:hover {
    background: linear-gradient(#1C61EB, #1DCBF7);
}

p.social a.insta {
    background: #666;
    transition: ease;
}

.illustrations p.social a.insta {
    background: black;
    transition: ease;
}

p.social a.github i {
    font-size: 20px;
}

p.social a.insta i {
    font-size: 20px;
}

.illustrations p.social a.insta i {
    font-size: 30px;
}

p.social a.insta:hover {
    background: linear-gradient(195deg, #4C66CC, #6E3AAF, #A133AE, #D02F7A, #F36531, #F7CD71);
    transition: ease;
}

p.social a.transfo-link {
    width: 38px;
    height: 38px;
    background-size: 23px;
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 4px;
    border: solid 1px black;
    transition: ease;
}

p.social a.transfo-link:hover {
    background-size: 23px;
    background-position-x: 7px;
    background-position-y: 3px;
    border: solid 2px #FF6E29;
    transition: ease;
}

p.social a.ledschat-link {
    background-size: 38px;
    border-radius: 0px;
    transition: ease;
}

p.social a.ledschat-link:hover {
    border: solid 4px #B12564;
    background-position-x: -4px;
    background-position-y: -4px;
    transition: ease;
}

p.social a.lowtropy-link {
    width: 40px;
    height: 40px;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position-x: 1px;
    background-position-y: 8px;
    border: solid 1px black;
    transition: ease;
}

p.social a.lowtropy-link:hover {
    background-color: greenyellow;
    transition: ease;
}

p.social a.backaround-link {
    width: 46px;
    height: 40px;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 2px;
    transition: ease;
}

p.social a.backaround-link:hover {
    width: 46px;
    height: 40px;
    border-radius: 0px;
    background-size: 46px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -6px;
    transition: ease;
}