/* your styles go here */

.formations-title,
.project-title,
.competence-title,
.formations-subtitle,
.project-subtitle,
.competence-subtitle {
    font-size: 19px;
    text-decoration: none;
}

.intro h1 {
    text-align: center;
}

.project-title {
    margin-top: 1rem;
    margin-bottom: 0;
}

.formations-subtitle,
.project-subtitle,
.competence-subtitle {
    font-family: "Courier New", Courier, "Liberation Mono", monospace;
    letter-spacing: 0.07em;
}

.formations-subtitle span {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;
}

.item-end {
    text-align: end;
}

.profil-pic {
    min-width: 400px;
}

.cv {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}

.cv a {
    text-decoration: none;
}

.cv a:hover {
    font-weight: 600;
}

.portfolio-text {
    margin: 5rem auto;
}

.project-link {
    color: dimgray;
}

.project-link:hover {
    text-decoration: none;
    color: black;
}

.project-link:hover .badge-secondary {
    background-color: black;
}

.project-link:hover .badge-html {
    background-color: #E54D26;
}

.project-link:hover .badge-css {
    background-color: #3D8FC6;
}

.project-link:hover .badge-php {
    background-color: #6180B6;
}

.project-link:hover .badge-bootstrap {
    background-color: #59407F;
}

.project-link:hover .badge-wordpress {
    background-color: #003C56;
}

.project-link:hover .badge-js {
    background-color: #F0DB4E;
}

.project-link:hover .badge-angular {
    background-color: #C4473A;
}

.project-link:hover .badge-elementor {
    background: linear-gradient(0.25turn, #312670, #e6285b);
}

.project-link:hover .badge-pantheon {
    background-color: #EFD01B;
}

.project-link:hover .badge-p5 {
    background-color: #ED225C;
}

.project-link:hover .badge-node {
    background-color: #689F63;
}

.project-link:hover .badge-figma {
    background: linear-gradient(0.25turn, #EC4C1E, #F86E5E, #9E56F8, #1AB7F6, #0AC87F);
}

.badge-div {
    min-height: 48px;
}

.badge {
    padding: 0.25em 1em;
}

.project-text {
    margin: 1rem auto;
}

.services .icon {
    margin-bottom: 0;
}

.icon img {
    max-height: 45px;
    margin-bottom: 16px;
}

.singature {
    max-height: 50px;
}

.wip {
    font-size: 300px;
    text-align: center;
}

.wip-subtitle {
    text-align: center;
    margin-left: -56px;
    font-size: 20px;
    margin-top: -50px;
    font-weight: 600;
}

.mt-15 {
    margin-top: 15px;
}

.mb-35 {
    margin-bottom: 35px;
}

.social-link:hover {
    text-decoration: none;
    font-weight: 700;
}