/* your styles go here */

.formations-title,
.project-title,
.competence-title,
.formations-subtitle,
.project-subtitle,
.competence-subtitle {
    font-size: 19px;
    text-decoration: none;
}

.intro h1 {
    text-align: center;
}

.project-title {
    margin-top: 1rem;
    margin-bottom: 0;
}

.formations-subtitle,
.project-subtitle,
.competence-subtitle {
    font-family: "Courier New", Courier, "Liberation Mono", monospace;
    letter-spacing: 0.07em;
}

.formations-subtitle span {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;
}

.item-end {
    text-align: end;
}

.profil-pic {
    min-width: 400px;
}

.cv,
.site,
.github {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.site a,
.github a {
    color: #29FD2F;
}

.cv a,
.site a,
.github a {
    text-decoration: none;
}

.cv a:hover,
.site a:hover,
.github a:hover {
    font-weight: 600;
}

.cv a:hover {
    background: -webkit-linear-gradient(45deg, #118ab2 0%, #06d6a0 37%, #ffd166 50%, #ffec99 67%, #ff9999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site a:hover,
.github a:hover {
    background: -webkit-linear-gradient(45deg, #29FD2F, #E1FD34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio-text {
    margin: 5rem auto;
}

.project-link {
    color: dimgray;
}

.project-link:hover {
    text-decoration: none;
    color: black;
}

.project-link:focus {
    text-decoration: none;
}

.project-link .badge {
    transition: all 0.7s;
}

.project-link:hover .badge-secondary {
    background-color: black;
}

.project-link:hover .badge-html {
    background-color: #E54D26;
}

.project-link:hover .badge-css {
    background-color: #3D8FC6;
}

.project-link:hover .badge-php {
    background-color: #6180B6;
}

.project-link:hover .badge-bootstrap {
    background-color: #59407F;
}

.project-link:hover .badge-wordpress {
    background-color: #003C56;
}

.project-link:hover .badge-js {
    background-color: #F0DB4E;
}

.project-link:hover .badge-angular {
    background-color: #C4473A;
}

.project-link:hover .badge-elementor {
    background: linear-gradient(0.25turn, #312670, #e6285b);
}

.project-link:hover .badge-pantheon {
    background-color: #EFD01B;
}

.project-link:hover .badge-p5 {
    background-color: #ED225C;
}

.project-link:hover .badge-node {
    background-color: #689F63;
}

.project-link:hover .badge-figma {
    background: linear-gradient(0.25turn, #EC4C1E, #F86E5E, #9E56F8, #1AB7F6, #0AC87F);
}

.badge-div {
    min-height: 48px;
}

.badge {
    padding: 0.25em 1em;
}

.project-text {
    margin: 1rem auto;
}

.services .icon {
    margin-bottom: 0;
}

.icon img {
    max-height: 45px;
    margin-bottom: 16px;
}

.singature {
    max-height: 50px;
}

.wip {
    font-size: 200px;
    text-align: center;
    text-transform: uppercase;
}

.wip-subtitle {
    text-align: center;
    margin-left: -56px;
    font-size: 24px;
    margin-top: -50px;
    font-weight: 600;
}

.mt-15 {
    margin-top: 15px;
}

.mb-35 {
    margin-bottom: 35px;
}

.social-link:hover {
    text-decoration: none;
    font-weight: 700;
}

.gif {
    width: 100%;
}

.lowtropy {
    font-family: sans-serif;
}

.lowtropy-bg {
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: -300px 800px;
}

.lowtropy-colors-img {
    width: 90%;
}

.lowtropy-police-img {
    width: 110%;
    margin-left: -100px;
}

.mcbook-bg {
    background-repeat: no-repeat;
    background-size: 523px, 700px;
    background-position: 120px 45px, center;
}

footer a:hover {
    text-decoration: none;
    font-weight: 700;
}

#colors ul {
    /* margin-left: 0;
    padding-left: 0;
    text-indent: 20px; */
}

#html p {
    font-size: 24px;
}