@media screen and (max-width: 759px) {
    .navbar-nav.sections {
        display: none;
    }

    .navbar-nav.social {
        margin: 0 auto !important;
    }

    p.social a {
        margin: 0 20px;
    }

    .desktop {
        display: none;
    }

    .mobile,
    .mob {
        display: block;
    }

    .mob {
        margin-top: 0px;
    }

    .mobile {
        margin: 5px;
    }

    .mobile h1 {
        font-size: 19px;
        letter-spacing: 0.2em;
        text-align: center;
        margin: 0;
    }

    .mobile p {
        font-size: 12px;
        letter-spacing: 7px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: normal;
        margin: 0;
        padding-left: 3px;
    }

    p.item-end {
        position: absolute;
        top: -610px;
        right: -130px;
        z-index: -1;
    }

    #intro .row {
        position: relative;
    }

    .about p {
        padding-right: 0px;
        font-size: 12px;
    }

    /* p.sticky-margin {
        display: none !important;
    } */

    #about {
        padding: 150px 0 0 0;
    }

    .cv,
    .cv-bis {
        font-size: 20px;
    }

    .cv {
        margin-bottom: -25px;
    }

    .cv .marquee {
        animation: marqueeBis 30s linear infinite;
    }

    div.social {
        display: flex;
        margin: 50px auto;
    }
}