@media screen and (max-width: 815px) {
    .navbar-nav.sections {
        display: none;
    }

    .navbar-nav.social {
        margin: 0 auto !important;
    }

    p.social a {
        margin: 0 20px;
    }

    .desktop {
        display: none;
    }

    .mobile,
    .mob {
        display: block;
    }

    .mob {
        margin-top: 0px;
    }

    .mobile {
        margin: 5px;
    }

    .mobile h1 {
        font-size: 30px;
        letter-spacing: 7px;
        text-align: center;
        margin: 0;
        white-space: nowrap;
    }

    header .mobile p {
        font-size: 12px;
        letter-spacing: 7px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: normal;
        margin: 0;
        padding-left: 2px;
        white-space: nowrap;
    }

    p.item-end {
        position: absolute;
        top: -610px;
        right: -130px;
        z-index: -1;
    }

    #intro .row {
        position: relative;
    }

    .about p {
        padding-right: 0px;
        font-size: 12px;
    }

    p.sticky-margin {
        line-height: 61px;
    }

    #about {
        padding: 120px 0 0 0;
    }

    .cv,
    .cv-bis {
        font-size: 20px;
    }

    .cv,
    #maquettes div.cv {
        margin-bottom: -25px;
    }

    #maquettes div.cv {
        margin-top: 0px;
    }

    .cv .marquee,
    #maquettes div.cv .marquee {
        animation: marqueeBis 30s linear infinite;
    }

    .cv.second .marquee,
    .cv.fourth .marquee,
    #maquettes div.cv.second .marquee,
    #maquettes div.cv.fourth .marquee {
        animation: marqueeBis 29.2s linear infinite;
    }

    .cv.third .marquee,
    #maquettes div.cv.third .marquee {
        animation: marqueeBis 28.4s linear infinite;
    }

    .third.second a,
    .third.fourth a,
    #maquettes div.third.second a,
    #maquettes div.third.fourth a {
        animation: swap 14s linear infinite;
    }

    .third.marquee a,
    #maquettes div.third.marquee a {
        animation: swap 13s linear infinite;
    }

    div.social {
        display: flex;
        margin: 50px auto;
    }

    /* 
    #portfolio {
        transform: rotate(270deg);
        position: absolute;
        left: -135px;
        top: 990px;
    } */

    #portfolio h2 {
        font-size: 34px;
        letter-spacing: 7px;
        white-space: nowrap;
        margin: 10px 15px;
    }

    #portfolio p {
        font-size: 12px;
        white-space: normal;
        margin: -15px 15px 10px 15px;
    }

    h2 span {
        display: none;
    }

    #portfolio {
        padding-bottom: 0;
    }

    #lowtropy img {
        position: absolute;
        z-index: -1;
        top: -80px;
    }

    #backaround img {
        position: absolute;
        z-index: -1;
        top: -80px;
        right: -150px;
    }

    .lowtropy .cv a,
    .lowtropy .cv-bis a {
        background: -webkit-linear-gradient(45deg, #29FD2F, #E1FD34, #29FD2F, #E1FD34, #29FD2F, #E1FD34);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #backaround,
    #landing,
    #lowtropy {
        position: relative;
        padding: 150px 0 300px 0;
    }

    #landing {
        padding: 0px 0 250px 0;
        margin-bottom: 100px;
    }

    #backaround {
        padding: 150px 0 0px 0;
    }

    .backaround .mcbook-bg,
    .lowtropy .mcbook-bg {
        background-position: center 565px, center bottom;
        position: absolute;
        top: 0px;
        height: 100%;
    }

    .backaround .mcbook-bg {
        background-position: center 400px, center bottom
    }

    .backaround .mcbook-bg,
    .lowtropy .mcbook-bg {
        background-repeat: no-repeat;
        background-size: 75%, 100%;
    }

    #lightbox.lightbox {
        padding-top: 80px;
    }

    .site.mobile {
        text-align: center;
        padding-top: 100px;
    }

    .lowtropy .site a,
    .lowtropy .github a {
        color: black;
    }

    .lowtropy #maquettes {
        padding: 10px 0 0px 0;
    }

    .mockup-bg-1,
    .mockup-bg-2,
    .mockup-bg-3 {
        background-repeat: no-repeat;
        background-size: 250px;
    }

    .mockup-bg-1 {
        background-position: -50% 0px;
        height: 250px;
        padding: 0;
    }

    .mockup-bg-2 {
        background-position: 50% 0px;
        height: 100%;
    }

    .mockup-bg-3 {
        background-position: 150% 0px;
        height: 100%;
    }

}